section{
    background-color: rgb(255,255,255);
    border-radius: 2px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132), 0 0.3px 0.9px 0 rgba(0,0,0,.108);
    padding:26px;
    margin-bottom:26px;
}