section{
    background-color: rgb(255,255,255);
    border-radius: 2px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132), 0 0.3px 0.9px 0 rgba(0,0,0,.108);
    padding:24px;
    margin-bottom:24px;

    -webkit-animation: fadein .3s;
         animation: fadein .3s;
}

@keyframes fadein {
    from { transform: translate3d(0, 48px, 0px); opacity: 0; }
    to   { transform: translate3d(0, 0px, 0px); opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { transform: translate3d(0, 48px, 0px); opacity: 0; }
    to   { transform: translate3d(0, 0px, 0px); opacity: 1; }
}